@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<br />
<p>
    Çarpma işlemi istemci tarafında C# ile yapılıyor.
</p>
<input id="a" @bind="@ilksayi" />
<input id="b" @bind="@ikincisayi" />

<button class="btn btn-primary" @onclick="@ikiSayiCarpimi">İki Sayıyı Çarp</button>

<p>Çarpım Sonucu: @carpim</p>

@code{
    public int ilksayi = 0;
    public int ikincisayi = 0;
    public int carpim = 0;

    public void ikiSayiCarpimi()
    {
        carpim = ilksayi * ikincisayi;
    }
}
