@page "/productionCapacity"


<head>
    @*<style>
        .yuksek{
            min-height:250px;
        }
        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: #008CBA;
        }
    </style>*@
</head>
<body>
    <div class="container">  
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <label> Machine:</label>
                <br />
                <select class="form-control">
                    <option selected>Open this select menu</option>
                    <option>adadsa </option>
                    <option>cvxvxvx </option>
                    <option>xcvcxv </option>
                    <option>sdfsdfdsf </option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <br />
                <input id="Checkbox1" type="checkbox" />
                <label for="Checkbox1">asddfds </label>

                <input id="Checkbox2" type="checkbox" />
                <label for="Checkbox2">zcmzçxmc </label>
                <br />
                <input id="Checkbox3" type="checkbox" />
                <label for="Checkbox3">fghhgfh </label>

                <input id="Checkbox4" type="checkbox" />
                <label for="Checkbox4">qweqwee </label>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <label>Date:</label>
                <br>
                <input type="date" class="form-control" name="uretimtarihi" />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <br />
                <button type="button" class="btn btn-primary btn-lg">Save</button>
            </div>
            
        </div>
    </div>

</body>


@code
{

}
