@page "/utilization"
<h1>Utilization</h1>

<head>
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">

        <div class="box">
            <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
            <div class="content">
                <h3>Search</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
        </div>

        <div class="box">
            <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="content">
                <h3>User</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="content">
                <h3>Location</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
        </div>

    </div>
</body>

@code{

}
